################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HR.LeaveManagement/.vs/HR.LeaveManagement/v17/.futdcache.v2
/HR.LeaveManagement/HR.LeaveManagement.Application/obj/Debug/netstandard2.1/HR.LeaveManagement.Application.csproj.AssemblyReference.cache
/HR.LeaveManagement/HR.LeaveManagement.Application/obj/Release/netstandard2.1
/HR.LeaveManagement/HR.LeaveManagement.Domain/obj/Release/netstandard2.1
/HR.LeaveManagement/.vs/HR.LeaveManagement/DesignTimeBuild/.dtbcache.v2
/HR.LeaveManagement/.vs/HR.LeaveManagement/FileContentIndex/1bae10a3-64bc-4bac-989f-e0863ef35027.vsidx
/HR.LeaveManagement/.vs/HR.LeaveManagement/FileContentIndex/87233ff5-93a5-4112-ac27-c0589e8d23ef.vsidx
/HR.LeaveManagement/.vs/HR.LeaveManagement/FileContentIndex/6188f691-a3ea-4217-b329-d0ff67395439.vsidx
/HR.LeaveManagement/.vs/HR.LeaveManagement/FileContentIndex/9f7066b2-bc88-4799-a176-58adf45510f7.vsidx
/HR.LeaveManagement/.vs/HR.LeaveManagement/FileContentIndex
/HR.LeaveManagement/.vs/HR.LeaveManagement/v17/.suo
/HR.LeaveManagement/.vs/ProjectEvaluation/hr.leavemanagement.metadata.v6.1
/HR.LeaveManagement/.vs/ProjectEvaluation/hr.leavemanagement.projects.v6.1
/HR.LeaveManagement/HR.LeaveManagement.Domain/bin/Debug/netstandard2.1
/HR.LeaveManagement/HR.LeaveManagement.Domain/obj/Debug/netstandard2.1
/HR.LeaveManagement/HR.LeaveManagement.Application/obj/Debug/netstandard2.1