################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HR.LeaveManagement/.vs/HR.LeaveManagement/v17/.futdcache.v2
/HR.LeaveManagement/HR.LeaveManagement.Application/obj/Debug/netstandard2.1/HR.LeaveManagement.Application.csproj.AssemblyReference.cache
/HR.LeaveManagement/HR.LeaveManagement.Application/obj/Release/netstandard2.1
/HR.LeaveManagement/HR.LeaveManagement.Domain/obj/Release/netstandard2.1
